@font-face {
  font-family: "Proxima Nova Thin";
  src: url("../fonts/ProximaNovaT-Thin.eot");
  src: url("../fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNovaT-Thin.woff") format("woff"),
  url("../fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
  @font-face {
    font-family: "Proxima Nova Light";
    src: url("../fonts/ProximaNova-Light.eot");
    src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Light.woff") format("woff"),
    url("../fonts/ProximaNova-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
      font-family: "Proxima Nova Regular";
      src: url("../fonts/ProximaNova-Regular.eot");
      src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/ProximaNova-Regular.woff") format("woff"),
      url("../fonts/ProximaNova-Regular.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
      }
      @font-face {
        font-family: "Proxima Nova Semibold";
        src: url("../fonts/ProximaNova-Semibold.eot");
        src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Semibold.woff") format("woff"),
        url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova-Bold.woff") format("woff"),
  url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Black";
  src: url("../fonts/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ProximaNova-Black.woff") format("woff"),
  url("../fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  }
body {
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #4c4c4c;
    background-color: white;
  }
a {
    text-decoration: none;
    color: white;
  }
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
img {
  max-width: 100%;
  height: auto;
}
.main-header {
  background-image: url("../img/mars.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: ;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 37px 0;
  margin-bottom: 150px;
}
.logo {
  line-height: 21px;
  font-family: "Proxima Nova Thin";
  display: flex;
  width: 190px;
}
.logo img {
  margin-right: 18px;
}
.logo strong {
  font-size: 21px;
  line-height: 21px;
  font-family: "Proxima Nova Semibold";
  text-transform: uppercase;
}
.menu {
  font-size: 18px;
    line-height: 24px;
    color: white;
  padding-right: 67px;
}
.mars {
  text-transform: uppercase;
  color: white;
  position: relative;
}
.main-name {
  text-align: center;
  font-size: 37px;
    line-height: 15px;
    font-family: "Proxima Nova Thin";
}
.main-name strong {
  font-family: "Proxima Nova Regular";
}
.main-title {
  text-align: center;
  font-size: 195px;
    line-height: 27px;
    font-family: "Proxima Nova Black";
  margin: 80px 0;
}
.mars img {
  display: block;
  margin: 0 auto;
}
.mars-paragraph {
  position: absolute;
    top: 50%;
    right: 50px;
    width: 100px;
}
.facts {
  background-color: #fff5f8;
  margin-bottom: 80px;
}
.facts-list {
  list-style: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 0;
  margin-left: -35px;
}
.fact-item {
  font-size: 13px;
    line-height: 18px;
    font-family: "Proxima Nova Light";
  padding: 20px 0;
  width: 130px;
  margin-left: 35px;
  position: relative;
}
.fact-item:not(:last-child) {
  margin-right: 35px;
}
.fact-item strong {
  color: #e12457;
  font-size: 48px;
    line-height: 50px;
    font-family: "Proxima Nova Bold";
  display: block;
  margin-bottom: 10px;
}
.fact-item + .fact-item::after {
  content: "";
  width: 1px;
  height: 20px;
  top: 10px;
  right: 10px;
  background-color: black;
}
.information {
  background-image: url("../img/fly.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  font-family: "Proxima Nova Light";
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 235px;
  margin-bottom: 120px;
}
.title {
  font-family: "Proxima Nova Bold";
  font-size: 59px;
  line-height: 60px;
  color: #e12457;
  margin-bottom: 20px;
}
.information-wrapper {
  display: flex;
  padding-right: 220px;
  width: 80%;
}
.information span {
  display: block;
}
.small-title {
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  line-height: 24px;
  color: black;
}
.what {
  margin-right: 70px;
  width: 50%;
}
.where {
  width: 40%;
}
.ilon-wrapper {
  display: flex;
}
.ilon-wrapper img {
  margin-left: 40px;
}
.problems {
  background-color: rebeccapurple;
  background-image: url("../img/space.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  padding: 50px 0;
  color: white;
}
.problems .title {
  margin-bottom: 60px;
  color: white;
}
.problems .small-title {
  color: white;
}
.problems img {
  position: relative;
}
.problems img::after {
  content: "";
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  background-image: url("../img/play.png"); 
  position: absolute;
}
.problems-wrapper {
  display: flex;
}
.problem-labels {
  display: flex;
  flex-direction: column;
}
.problem-labels label {
  cursor: pointer;
}
.problem-list {
  padding: 0;
}
.problem {
  display: none;
}
.problem-radio-1:checked ~ .problem-list .problem-item-1,
.problem-radio-2:checked ~ .problem-list .problem-item-2,
.problem-radio-3:checked ~ .problem-list .problem-item-3,
.problem-radio-4:checked ~ .problem-list .problem-item-4 {
  display: block;
}
.organize {
  display: none;
}
.organization-radio-1:checked ~ .organization-list .organization-item-1,
.organization-radio-2:checked ~ .organization-list .organization-item-2,
.organization-radio-3:checked ~ .organization-list .organization-item-3,
.organization-radio-4:checked ~ .organization-list .organization-item-4,
.organization-radio-5:checked ~ .organization-list .organization-item-5 {
  display: block;
}
.main-footer {
  height: 850px;
  background-image: url("../img/footer.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: ;
}